{% load markdown_filter %}
{% load tagging_tags %}

<div id="single_gazette" class="blingacontent" {% if for_email %}style="font-size:14px"{% endif %}>
  <h1 class="gazette_headline">The Sanderson Gazette - {{ gazette }}</h1>
  <div id="gazette_detail" class="blingacontent_section" {% if for_email %}style="width:90%"{% endif %}>
    {% if for_email %}
      <p>
        <a href="{{ gazette.full_url }}" class="link">
          Read <em>{{ gazette.headline }}</em> on blingaleague.com
        </a>
      </p>
    {% endif %}

    {% if gazette.use_markdown %}
      {{ gazette.body.strip|markdown_filter|safe }}
    {% else %}
      {{ gazette.body.strip|linebreaks }}
    {% endif %}

    {% if for_email %}
      <p>
        Tags:
        {% tags_for_object gazette as gazette_tags %}
        {% for tag in gazette_tags %}
          <a href="{{ gazette.gazette_list_full_url }}?tag={{ tag.name }}">{{ tag.name }}</a>
        {% endfor %}
      </p>
      <p>
        <a href="{{ gazette.gazette_list_full_url }}" class="link">All Sanderson Gazettes</a>
      </p>
    {% else %}
      <p>
        {% if gazette.previous %}
          <a href="{% url 'blingacontent.gazette_detail' gazette.previous.slug %}" class="link previous" title="{{ gazette.previous.headline }}">Previous</a>
        {% endif %}
        {% if gazette.next %}
          <a href="{% url 'blingacontent.gazette_detail' gazette.next.slug %}" class="link next" title="{{ gazette.next.headline }}">Next</a>
        {% endif %}
      </p>
      <p class="center">
        <a href="{% url 'blingacontent.gazette_list' %}" class="link">All Sanderson Gazettes</a>
      </p>
    {% endif %}
  </div>
  {% if not for_email %}
    <ul id="gazette_tags" class="blingacontent_section">
      Tags:
      {% tags_for_object gazette as gazette_tags %}
      {% for tag in gazette_tags %}
        <li>
          <a href="{% url 'blingacontent.gazette_list' %}?tag={{ tag.name }}">{{ tag.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
