{% extends "blingaleague/base.html" %}

{% block title %}Draft Pick Finder{% endblock %}

{% block content %}
<h1>Draft Pick Finder</h1>

<div id="draft_pick_finder" class="blingalytics">
  <div id="draft_pick_finder_controls">
    {% with "draft_pick_finder_form" as form_id %}
      {% include "blingalytics/form.html" %}
    {% endwith %}
  </div>
  <div id="draft_picks_found" class="finder_results">
    {% if draft_picks %}
      <h2>Summary</h2>
      <table class="blingalytics_table table-striped" style="display:inline-table">
        <tr>
          <th>Year</th>
          <th>{# Total #}</th>
        </tr>
        {% for year, total in summary.years %}
          <tr>
            <td style="text-align:left">{{ year }}</td>
            <td>{{ total }}</td>
          </tr>
        {% endfor %}
      </table>
      <table class="blingalytics_table table-striped" style="display:inline-table">
        <tr>
          <th>Team</th>
          <th>{# Total #}</th>
        </tr>
        {% for team, total in summary.teams %}
          <tr>
            <td style="text-align:left">{{ team.nickname }}</td>
            <td>{{ total }}</td>
          </tr>
        {% endfor %}
      </table>
      <table class="blingalytics_table table-striped" style="display:inline-table">
        <tr>
          <th>Round</th>
          <th>{# Total #}</th>
        </tr>
        {% for round, total in summary.rounds %}
          <tr>
            <td style="text-align:left">{{ round }}</td>
            <td>{{ total }}</td>
          </tr>
        {% endfor %}
      </table>
      <table class="blingalytics_table table-striped" style="display:inline-table">
        <tr>
          <th>Position</th>
          <th>{# Total #}</th>
        </tr>
        {% for position, total in summary.positions %}
          <tr>
            <td style="text-align:left">{{ position }}</td>
            <td>{{ total }}</td>
          </tr>
        {% endfor %}
      </table>

      <h2>Draft Picks</h2>
      <em style="font-size:smaller">(click on the column headings to sort)</em>
      <em style="float:right; font-size:smaller">Shareable URL: <a href="{% url 'blingalytics.short_url' short_url %}">{{ request.get_host }}{% url 'blingalytics.short_url' short_url %}</a></em>
      <table class="blingalytics_table sortable table-striped">
        <tr>
          <th>Year</th>
          <th title="Round and Pick in Round">Pick</th>
          <th title="Overall Pick in Draft">Overall</th>
          <th>Team</th>
          <th>Player</th>
          <th>Position</th>
          <th>Keeper</th>
          <th title="Team Pick Originally Belonged To">Orig. Team</th>
        </tr>
        {% for draft_pick in draft_picks %}
          <tr>
            <td><a href="{% url 'blingaleague.draft' draft_pick.year %}">{{ draft_pick.year}}</a></td>
            <td sorttable_customkey="{{ draft_pick.overall_pick }}">{{ draft_pick.round_and_pick }}</td>
            <td>{{ draft_pick.overall_pick }}</td>
            <td style="text-align:left"><a href="{% url 'blingaleague.team_season' draft_pick.team.id draft_pick.year %}">{{ draft_pick.team.nickname }}</a></td>
            <td style="text-align:left"><a href="{% url 'blingaleague.player' draft_pick.name %}">{{ draft_pick.name }}</a></td>
            <td style="text-align:left">{{ draft_pick.position }}</td>
            <td style="text-align:left">{% if draft_pick.is_keeper %}Yes{% else %}No{% endif %}</td>
            <td style="text-align:left">
              {% if draft_pick.original_team %}
                <a href="{% url 'blingaleague.team_season' draft_pick.original_team.id draft_pick.year %}">{{ draft_pick.original_team.nickname }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h3 class="no_results_message">No draft picks found</h3>
    {% endif %}
  </div>
</div>
{% endblock content %}
