{% extends "blingaleague/base.html" %}

{% block title %}Expected Wins Calculator{% endblock %}

{% block content %}
<h1>Expected Wins Calculator</h1>

<div id="expected_wins" class="blingalytics">
  <form method="get" style="margin-bottom:20px">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
  </form>

  {% if expected_wins != None %}
    <div>Expected wins: <strong>{{ expected_wins|floatformat:3 }}</strong></div>
  {% endif %}

  {{ expected_wins_graph_html|safe }}
</div>
{% endblock content %}
