{% extends "blingaleague/base.html" %}

{% block title %}Game Finder{% endblock %}

{% block content %}
<h1>Game Finder</h1>

<div id="game_finder" class="blingalytics">
  <div id="game_finder_controls">
    {% with "game_finder_form" as form_id %}
      {% include "blingalytics/form.html" %}
    {% endwith %}
  </div>
  <div id="games_found" class="finder_results">
    {% if games %}
      <h2>Summary</h2>
      <table class="blingalytics_table table-striped">
        <tr>
          <th>Team</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Avg. PF</th>
          <th>Avg. PA</th>
          <th>Total</th>
        </tr>
        {% for team_summary in summary.teams %}
          <tr>
            <td style="text-align:left">{{ team_summary.team.nickname }}</td>
            <td>{{ team_summary.wins }}</td>
            <td>{{ team_summary.losses }}</td>
            <td>{{ team_summary.avg_points_for|floatformat:2 }}</td>
            <td>{{ team_summary.avg_points_against|floatformat:2 }}</td>
            <td>{{ team_summary.total }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th style="text-align:left">Total</th>
          <th/> {# wins #}
          <th/> {# losses #}
          <th/> {# points for #}
          <th/> {# points against #}
          <th style="text-align:right">{{ summary.total }}</th>
        </tr>
      </table>

      <h2>Games</h2>
      <em>(click on the column headings to sort)</em>
      <a class="download_link" href="{{ request.get_full_path }}&csv">Download to CSV</a>
      <table class="blingalytics_table sortable table-striped">
        <tr>
          <th>Year</th>
          <th>Week</th>
          <th>Team</td>
          <th>W/L</th>
          <th>Score</th>
          <th>{# - #}</th>
          <th>OppScore</th>
          <th>Opponent</th>
          <th>Margin</th>
          <th>Streak</th>
          <th>{# Extra Description #}</th>
        </tr>
        {% for game in games %}
          <tr>
            <td><a href="{% url 'blingaleague.single_season' game.year %}">{{ game.year}}</a></td>
            <td><a href="{% url 'blingaleague.week' game.year game.week %}">{{ game.week }}</a></td>
            <td style="text-align:left"><a href="{% url 'blingaleague.team_season' game.team.id game.year %}">{{ game.team.nickname }}</a></td>
            <td style="text-align:center">{{ game.outcome }}</td>
            <td>{{ game.score }}</td>
            <td style="text-align:center">&ndash;</td>
            <td>{{ game.opponent_score }}</td>
            <td style="text-align:left"><a href="{% url 'blingaleague.team_season' game.opponent.id game.year %}">{{ game.opponent.nickname }}</a></td>
            <td>{{ game.margin }}</td>
            <td>{{ game.streak }}</td>
            <td style="text-align:left">{{ game.extra_description }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h3 class="no_results_message">No games found</h3>
    {% endif %}
  </div>
</div>
{% endblock content %}
