{% extends "blingaleague/base.html" %}

{% load humanize %}

{% block title %}Season Finder{% endblock %}

{% block content %}
<h1>Season Finder</h1>

<div id="season_finder" class="blingalytics">
  <div id="season_finder_controls">
    {% with "season_finder_form" as form_id %}
      {% include "blingalytics/form.html" %}
    {% endwith %}
  </div>
  <div id="seasons_found" class="finder_results">
    {% if team_seasons %}
      <h2>Summary</h2>
      <table class="blingalytics_table table-striped" style="display:inline-table">
        <tr>
          <th>Team</th>
          <th>{# Total #}</th>
        </tr>
        {% for team, total in summary.teams %}
          <tr>
            <td style="text-align:left">{{ team.nickname }}</td>
            <td>{{ total }}</td>
          </tr>
        {% endfor %}
      </table>
      {% if not is_multi_season_view %}
        <table class="blingalytics_table table-striped" style="display:inline-table">
          <tr>
            <th>Year</th>
            <th>{# Total #}</th>
          </tr>
          {% for year, total in summary.years %}
            <tr>
              <td style="text-align:left">{{ year }}</td>
              <td>{{ total }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}

      <h2>Seasons</h2>
      <em style="font-size:smaller">(click on the column headings to sort)</em>
      <em style="float:right; font-size:smaller">Shareable URL: <a href="{% url 'blingalytics.short_url' short_url %}">{{ request.get_host }}{% url 'blingalytics.short_url' short_url %}</a></em>
      <table class="blingalytics_table sortable table-striped">
        <tr>
          <th>Year{% if is_multi_season_view %}s{% endif %}</th>
          <th>Team</th>
          <th>Wins</th>
          <th>Losses</th>
          <th title="Winning Percentage">W%</th>
          <th>Points</th>
          <th title="Expected Wins">Exp. W</th>
          <th title="Expected Winning Percentage">Exp. %</th>
          <th title="All-Play Winning Percentage">All-Play</th>
          <th title="Points Against">PA</th>
          <th title="Strength of Schedule">SOS</th>
          {% if not is_multi_season_view %}
            <th>Streak</th>
            <th>Place</th>
            <th>Final Place</th>
          {% endif %}
          <th title="Team Blangums Awards">Blangums</th>
          <th title="Slapped Heartbeat Awards">SH</th>
          {% if is_multi_season_view %}
            <th>Playoffs</th>
            <th>Championships</th>
          {% else %}
            <th>Playoff Finish</th>
          {% endif %}
        </tr>
        {% for team_season in team_seasons %}
          <tr>
            <td>
              {% if is_multi_season_view %}
                {{ team_season.year_min }}-{{ team_season.year_max }}
              {% else %}
                <a href="{{ team_season.season_object.href }}">{{ team_season.year }}</a>
              {% endif %}
            </td>
            <td style="text-align:left">
              {% if is_multi_season_view %}
                <a href="{{ team_season.team.href }}">{{ team_season.team.nickname }}</a>
              {% else %}
                <a href="{{ team_season.href }}">{{ team_season.team.nickname }}</a>
                {% if team_season.standings_note %}
                  <span class="blinganote" title="{{ team_season.standings_note.1 }}">{{ team_season.standings_note.0 }}</span>
                {% endif %}
              {% endif %}
            </td>
            <td>{{ team_season.win_count }}</td>
            <td>{{ team_season.loss_count }}</td>
            <td>{{ team_season.win_pct|floatformat:3 }}</td>
            <td>{{ team_season.points|intcomma }}</td>
            <td>{{ team_season.expected_wins|floatformat:2 }}</td>
            <td>{{ team_season.expected_win_pct|floatformat:3 }}</td>
            <td>{{ team_season.all_play_win_pct|floatformat:3 }}</td>
            <td>{{ team_season.points_against|intcomma }}</td>
            <td>{{ team_season.strength_of_schedule_str }}</td>
            {% if not is_multi_season_view %}
              <td sorttable_customkey="{{ team_season.current_streak_sort_key }}" style="text-align:center">
                {{ team_season.current_streak }}
              </td>
              <td>{{ team_season.place_numeric }}</td>
              <td>
                {% if not team_season.regular_season.is_partial %}
                  <a href="{{ team_season.regular_season.href }}">{{ team_season.regular_season.place_numeric }}</a>
                {% endif %}
              </td>
            {% endif %}
            <td>{{ team_season.blangums_count }}</td>
            <td>{{ team_season.slapped_heartbeat_count }}</td>
            {% if is_multi_season_view %}
              <td>{{ team_season.playoff_appearances }}</td>
              <td>{{ team_season.championships }}</td>
            {% else %}
              <td style="text-align:left">
                <a href="{{ team_season.regular_season.season_object.href }}">{{ team_season.playoff_finish }}</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h3 class="no_results_message">No seasons found</h3>
    {% endif %}
  </div>
</div>
{% endblock content %}
