{% extends "blingaleague/base.html" %}

{% load humanize %}

{% block title %}Blingalytics: Season Finder{% endblock %}

{% block content %}
<h1>Blingalytics: Season Finder</h1>

<div id="season_finder" class="blingalytics">
  <div id="season_finder_controls">
    {% with "season_finder_form" as form_id %}
      {% include "blingalytics/form.html" %}
    {% endwith %}
  </div>
  <div id="seasons_found">
    {% if seasons %}
      <em>(click on the column headings to sort)</em>
      <table class="sortable table-striped">
        <tr>
          <th>Year</th>
          <th>Team</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>W%</th>
          <th>Points</th>
          <th>Exp. W</th>
          <th>Exp. %</th>
          <th>Place</th>
          <th>RobScore</th>
          <th>Blangums</th>
          <th>Playoff Finish</th>
        </tr>
        {% for season in seasons %}
          <tr>
            <td><a href="{{ season.standings.href }}">{{ season.year }}</a></td>
            <td style="text-align:left"><a href="{{ season.href }}">{{ season.team }}</a></td>
            <td>{{ season.win_count }}</td>
            <td>{{ season.loss_count }}</td>
            <td>{{ season.win_pct|floatformat:3 }}</td>
            <td>{{ season.points|intcomma }}</td>
            <td>{{ season.expected_wins|floatformat:1 }}</td>
            <td>{{ season.expected_win_pct|floatformat:3 }}</td>
            <td>{{ season.place_numeric }}</td>
            <td>{{ season.robscore|floatformat:2 }}</td>
            <td>{{ season.blangums_count }}</td>
            <td style="text-align:left">{{ season.playoff_finish }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <em>No seasons found</em>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
    $("#form_toggle_button").click(function() {
        $('#season_finder_form').toggle();
    });
</script>
{% endblock content %}
