{% extends "blingaleague/base.html" %}

{% block title %}Team vs. Team{% endblock %}

{% block content %}
<h1>Team vs. Team</h1>

<h2>Records</h2>

<table class="team_vs_team_grid blingalytics">
  <tr>
    <th>W\L</th>
    {% for team in teams %}
      <th {% if team.defunct %}class="defunct"{% endif %}><a href="{{ team.href }}">{{ team }}</a></th>
    {% endfor %}
  </tr>
  {% for row in grid %}
    <tr>
      <th {% if row.team.defunct %}class="defunct"{% endif %}><a href="{{ row.team.href }}">{{ row.team }}</a></th>
      {% for matchup in row.matchups %}
        {% ifequal matchup.team1 matchup.team2 %}
          <td class="empty"/>
        {% else %}
          <td {% if matchup.team1.defunct or matchup.team2.defunct %}class="defunct"{% endif %}>
            {% if matchup.games %}
              <a href="{{ matchup.href }}">{{ matchup.record }}</a>
            {% else %}
              0-0
            {% endif %}
          </td>
        {% endifequal %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<h2>Trades</h2>

<table class="team_vs_team_grid blingalytics">
  <tr>
    <th/>
    {% for team in teams %}
      <th {% if team.defunct %}class="defunct"{% endif %}><a href="{{ team.href }}">{{ team }}</a></th>
    {% endfor %}
  </tr>
  {% for row in grid %}
    <tr>
      <th {% if row.team.defunct %}class="defunct"{% endif %}><a href="{{ row.team.href }}">{{ row.team }}</a></th>
      {% for matchup in row.matchups %}
        {% ifequal matchup.team1 matchup.team2 %}
          <td class="empty"/>
        {% else %}
          <td {% if matchup.team1.defunct or matchup.team2.defunct %}class="defunct"{% endif %}>
            {% if matchup.trades %}
              <a href="{% url 'blingalytics.trade_finder' %}?receivers={{ matchup.team1.id }}&senders={{ matchup.team2.id }}">{{ matchup.trades|length }}</a>
            {% else %}
              0
            {% endif %}
          </td>
        {% endifequal %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
