{% extends "blingaleague/base.html" %}

{% load humanize %}

{% block title %}
  Top Seasons
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
{% endblock %}

{% block content %}
<h1>
  Top Seasons
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
</h1>
<h2>(regular season games only)</h2>

<div id="top_seasons" class="blingalytics">
  <div class="table_links">
    <ul>
      {% for table in top_seasons_tables %}
        <li><a href="#{{ table.title|slugify }}"><small>{{ table.title }}</small></a></li>
      {% endfor %}
    </ul>
  </div>

  {% for table in top_seasons_tables %}
    <table id="{{ table.title|slugify }}" class="blingalytics_table">
      <tr>
        <th colspan="100%">{{ table.title }}</th>
      </tr>
      {% for row in table.rows %}
        <tr>
          <td>{{ row.rank }}</td>
          <td {% if row.team_season.is_current_season %}class="emphasize"{% endif %}>
            <a href="{{ row.team_season.season_object.href }}">{{ row.team_season.year }}</a>
          </td>
          <td style="text-align:left; width:auto" {% if row.team_season.is_current_season %}class="emphasize"{% endif %}>
            <a href="{{ row.team_season.href }}">{{ row.team_season.team.nickname }}</a>
            {% if row.team_season.is_partial %}
              <small>{{ row.team_season.games|length }} game{{ row.team_season.games|pluralize }}</small>
            {% endif %}
          </td>
          <td>{{ row.value|intcomma }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
</div>
{% endblock content %}
