{% extends "blingaleague/base.html" %}

{% block title %}
  Top Seasons
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
{% endblock %}

{% block content %}
<h1>
  Top Seasons
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
</h1>
<h2>(regular season games only)</h2>

<div id="top_seasons" class="blingalytics">
  <div class="table_links">
    <ul>
      {% for table in top_seasons_tables %}
        <li><a href="#{{ table.title|slugify }}"><small>{{ table.title }}</small></a></li>
      {% endfor %}
    </ul>
  </div>

  {% for top_seasons_table in top_seasons_tables %}
    {% include "blingalytics/top_seasons_table.html" %}
  {% endfor %}
</div>
{% endblock content %}
