{% extends "blingaleague/base.html" %}

{% block title %}
  Top Seasons: {{ top_seasons_table.title }}
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
{% endblock %}

{% block content %}
<h1>
  Top Seasons: {{ top_seasons_table.title }}
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
</h1>
<h2>(regular season games only)</h2>

<div id="top_seasons" class="blingalytics">
  <div class="table_links">
    [<a href="{% url 'blingalytics.top_seasons' %}{% if week_max %}?week_max={{ week_max }}{% endif %}">All Top Seasons</a>]
  </div>

  {% include "blingalytics/top_seasons_table.html" %}
</div>
{% endblock content %}

