<h2>Trades</h2>
<em>(click on the column headings to sort)</em>
<em style="float:right">Short URL: {{ request.get_host }}{% url 'blingalytics.short_url' short_url %}</em>
<table class="blingalytics_table sortable table-striped">
  <tr>
    <th>Year</th>
    <th>Week</th>
    <th style="pointer-events:none">Details</th>
  </tr>
  {% for trade in trades %}
    <tr>
      <td><a href="{% url 'blingaleague.single_season' trade.year %}">{{ trade.year}}</a></td>
      <td><a href="{{ trade.week_object.href }}">{{ trade.week }}</a></td>
      <td style="text-align:left; padding-left:24px">{% include "blingaleague/single_trade_assets.html" %}</td>
    </tr>
  {% endfor %}
</table>
