{% extends "blingaleague/base.html" %}

{% block title %}Trade Finder{% endblock %}

{% block content %}
<h1>Trade Finder</h1>

<div id="trade_finder" class="blingalytics">
  <div id="trade_finder_controls">
    {% with "trade_finder_form" as form_id %}
      {% include "blingalytics/form.html" %}
    {% endwith %}
  </div>
  <div id="trades_found" class="finder_results">
    {% if traded_assets %}
      <h2>Summary</h2>
      <table class="blingalytics_table table-striped" style="display:inline-table">
        <tr>
          <th>Year</th>
          <th>Trades</th>
        </tr>
        {% for year, trade_count in summary.years %}
          <tr>
            <td style="text-align:left">{{ year }}</td>
            <td>{{ trade_count }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th style="text-align:left">Total</th>
          <th style="text-align:right">{{ summary.total }}</th>
        </tr>
      <table class="blingalytics_table table-striped" style="display:inline-table">
        <tr>
          <th>Team</th>
          <th>Trades</th>
          <th>Assets Sent</th>
          <th>Assets Received</th>
        </tr>
        {% for team_summary in summary.teams %}
          <tr>
            <td style="text-align:left">{{ team_summary.team.nickname }}</td>
            <td>{{ team_summary.trade_ids|length }}</td>
            <td>{{ team_summary.assets_sent }}</td>
            <td>{{ team_summary.assets_received }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th style="text-align:left">Total</th>
          <th style="text-align:right">{{ summary.total }}</th>
          <th style="text-align:right">{{ traded_assets|length }}</th>
          <th style="text-align:right">{{ traded_assets|length }}</th>
        </tr>
      </table>
      <table class="blingalytics_table table-striped" style="display:inline-table">
        <tr>
          <th>Position</th>
          <th>Trades</th>
          <th>Assets</th>
        </tr>
        {% for position_summary in summary.positions %}
          <tr>
            <td style="text-align:left">{{ position_summary.position }}</td>
            <td>{{ position_summary.trade_ids|length }}</td>
            <td>{{ position_summary.assets }}</td>
          </tr>
        {% endfor %}
        <tr>
          <th style="text-align:left">Total</th>
          <th style="text-align:right">{{ summary.total }}</th>
          <th style="text-align:right">{{ traded_assets|length }}</th>
        </tr>
      </table>

      {% if show_matching_assets_only %}
        {% include "blingalytics/trade_finder_assets_table.html" %}
      {% else %}
        {% include "blingalytics/trade_finder_trades_table.html" %}
      {% endif %}
    {% else %}
      <h3 class="no_results_message">No trades found</h3>
    {% endif %}
  </div>
</div>
{% endblock content %}
