{% extends "blingaleague/base.html" %}

{% block title %}Weekly Average Scores{% endblock %}

{% block content %}
<h1>Weekly Average Scores</h1>
<h2>(click on the column headings to sort)</h2>

<div id="weekly_average_scores" class="blingalytics">
  <table class="blingalytics_table sortable">
    <tr>
      <th>Year</th>
      <th>Week</th>
      <th>Score</th>
      <th>Margin</th>
    </tr>
    {% for week in weeks %}
      <tr>
        <td><a href="{% url 'blingaleague.week' week.year week.week %}">{{ week.year }}</a></td>
        <td><a href="{% url 'blingaleague.week' week.year week.week %}">{{ week.week }}</a></td>
        <td>{{ week.average_score|floatformat:2 }}</td>
        <td>{{ week.average_margin|floatformat:2 }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
