{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01" "http://www.w3.org/TR/html4/strict.dtd">
<html>

  <head>
    <title>{% block title %}Blingaleague{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">

    <link rel="icon" href="{% static 'blingaleague/img/shield.png' %}"/>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'blingaleague/css/blingaleague.css' %}"/>

    <script type="text/javascript" src="{% static 'jquery/js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'sorttable/js/sorttable.js' %}"></script>

  </head>

  <body>
    <nav id="header" class="navbar navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Blingaleague" id="nav_shield" src="{% static 'blingaleague/img/shield.png' %}">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'blingaleague.home' %}">Blingaleague</a></li>
            <li><a href="{% url 'blingaleague.standings' %}">Standings</a></li>
            <li><a href="{% url 'blingaleague.team_vs_team' %}">Team vs. Team</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blingalytics <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'blingalytics.weekly_scores' %}">Weekly Average Scores</a></li>
                <li><a href="{% url 'blingalytics.expected_wins' %}">Expected Wins Calculator</a></li>
                <li><a href="{% url 'blingalytics.game_finder' %}">Historical Game Finder</a></li>
                <li><a href="{% url 'blingalytics.season_finder' %}">Historical Season Finder</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://football.fantasysports.yahoo.com/league/blingaleague" target="_blank">Yahoo League Home</a></li>
                <li><a href="http://blingablog.wordpress.com" target="_blank">WojBloj</a></li>
                <li><a href="https://memegenerator.net/K-Pat" target="_blank">K-Pat Meme</a></li>
                <li><a href="https://memegenerator.net/Monster-Heel" target="_blank">Monster Heel Meme</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main_outer">
      <div id="main_inner">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>

</html>

