{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01" "http://www.w3.org/TR/html4/strict.dtd">
<html>

  <head>
    <title>{% block title %}Blingaleague{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">

    <link rel="icon" href="{% static 'blingaleague/img/shield.png' %}"/>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'blingaleague/css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'blingaleague/css/blingaleague.css' %}"/>
    <link rel="stylesheet" href="{% static 'blingaleague/css/blingalytics.css' %}"/>
    <link rel="stylesheet" href="{% static 'blingaleague/css/blingacontent.css' %}"/>
    <link rel="stylesheet" href="{% static 'blingaleague/css/media.css' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Viga&display=swap"/>

    <script type="text/javascript" src="{% static 'jquery/js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'sorttable/js/sorttable.js' %}"></script>

    <script type="text/javascript" src="{% static 'pygal/js/pygal-tooltips.min.js' %}"></script>

  </head>

  <body>
    <nav id="header" class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'blingaleague.home' %}">
            <img alt="Blingaleague" id="nav_shield" src="{% static 'blingaleague/img/shield.png' %}">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'blingaleague.teams' %}">Franchises</a></li>
            <li><a href="{% url 'blingaleague.seasons' %}">Seasons</a></li>
            <li><a href="{% url 'blingacontent.gazette_list' %}">The Sanderson Gazette</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blingalytics <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'blingalytics.belt_holders' %}">Belt Holders</a></li>
                <li><a href="{% url 'blingalytics.expected_wins' %}">Expected Wins Calculator</a></li>
                <li><a href="{% url 'blingaleague.glossary' %}">Glossary</a></li>
                <li><a href="{% url 'blingalytics.playoff_odds' %}">Playoff Odds</a></li>
                <li><a href="{% url 'blingalytics.team_vs_team' %}">Team vs. Team</a></li>
                <li><a href="{% url 'blingalytics.top_seasons' %}">Top Seasons</a></li>
                <li><a href="{% url 'blingalytics.weekly_scores' %}">Weekly Average Scores</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stat Finders <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'blingalytics.draft_pick_finder' %}">Draft Pick Finder</a></li>
                <li><a href="{% url 'blingalytics.game_finder' %}">Game Finder</a></li>
                <li><a href="{% url 'blingalytics.keeper_finder' %}">Keeper Finder</a></li>
                <li><a href="{% url 'blingalytics.season_finder' %}">Season Finder</a></li>
                <li><a href="{% url 'blingalytics.trade_finder' %}">Trade Finder</a></li>
              </ul>
            </li>
            {% comment %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Memes <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for meme in memes %}
                  <li><a href="{{ meme.url }}" target="_blank">{{ meme.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if auth_member %}
                {% endif %}
                <li><a href="http://blingablog.wordpress.com" target="_blank">WojBloj</a></li>
              </ul>
            </li>
            {% endcomment %}
            <li>
              {% if user.is_authenticated %}
                {% if auth_member %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'blingaleague.team' auth_member.pk %}">My Franchise Index</a></li>
                      <li><a href="http://football.fantasysports.yahoo.com/league/blingaleague" target="_blank">Yahoo League Home</a></li>
                      <li><a href="https://drive.google.com/drive/folders/0BzjwZZ1eHJfnQ0V2Q19rdWdiUTA" target="_blank">Google Drive</a></li>
                    </ul>
                  </li>
                {% endif %}
              {% else %}
                <a href="{% url 'social:begin' 'google-oauth2' %}">Log in</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main_outer">
      <div id="main_inner">
        {% block content %}
        {% endblock content %}
      </div>
      <div id="main_bottom"></div>
    </div>

    <footer id="footer">
      Blingaleague, 2008-{% now 'Y' %}
    </footer>

  </body>

</html>

