<table id="draft_picks" class="table-striped transactions {% if not draft.is_partial %}sortable{% endif %}">
  <tr>
    <th title="Round and Pick in Round">Pick</th>
    <th title="Overall Pick in Draft">Overall</th>
    {% if not draft.team_id %}<th>Team</th>{% endif %}
    <th>Player</th>
    <th>Position</th>
    {% if not draft.round_max %}
      <th/> {# Keeper #}
      <th></th> {# Trade #}
    {% endif %}
  </tr>
  {% for draft_pick in draft.draft_picks %}
    <tr>
      <td sorttable_customkey="{{ draft_pick.overall_pick }}" style="text-align:right">{{ draft_pick.round_and_pick }}</td>
      <td style="text-align:right">{{ draft_pick.overall_pick }}</td>
      {% if not draft.team_id %}
        <td sorttable_customkey="{{ draft_pick.team_sort_key }}">
          <a href="{% url 'blingaleague.team_season' draft_pick.team.id draft_pick.year %}">{{ draft_pick.team }}</a>
        </td>
      {% endif %}
      <td><a href="{% url 'blingaleague.player' draft_pick.name %}">{{ draft_pick.name }}</a></td>
      <td sorttable_customkey="{{ draft_pick.position_sort_key }}" class="draft_pick_pos_{{ draft_pick.position|lower }}">{{ draft_pick.position }}</td>
      {% if not draft.round_max %}
        <td>{% if draft_pick.is_keeper %}Keeper{% endif %}</td>
        <td style="padding-right:12px">
          {% if draft_pick.original_team %}
            Acquired from <a href="{% url 'blingaleague.team_season' draft_pick.original_team.id draft_pick.year %}">{{ draft_pick.original_team }}</a>
          {% endif %}
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  {% if not not draft.is_partial %}
    <tr>
      <td colspan="100%" class="table_footer"><a href="{{ draft.href }}">Full {{ draft.year }} draft</a></td>
    </tr>
  {% endif %}
</table>
