{% load humanize %}

<table id="draft_board">
  <tr>
    <th class="round_number"/>
    {% for team in draft.original_team_order %}
      <th>
        <a href="{% url 'blingaleague.team_season' team.id draft.year %}">{{ forloop.counter }}. {{ team }}</a>
      </th>
    {% endfor %}
  </tr>
  {% for round in draft.draft_board_picks %}
    <tr class="round">
      <td class="round_number">{{ forloop.counter }}</th>
      {% for draft_pick in round %}
        {% if draft_pick.selection %}
          <td class="draft_pick_pos_{{ draft_pick.selection.position|lower }}">
            {% if draft_pick.selection.original_team %}
              <p class="alternate_team" title="{% if draft_pick.selection.is_keeper %}keeper{% else %}pick{% endif %} traded from {{ draft_pick.selection.original_team }} to {{ draft_pick.selection.team }}">{{ draft_pick.selection.team }}</p>
            {% endif %}
            <p class="player {% if draft_pick.selection.original_team %}pick_offset{% endif %}"><a href="{% url 'blingaleague.player' draft_pick.selection.name %}">{{ draft_pick.selection.name }}</a></p>
            <p class="position">{{ draft_pick.selection.position }}</p>
            {% if draft_pick.selection.is_keeper %}<p class="keeper" title="{{ draft_pick.selection.times_kept|ordinal }} year being kept">KEEPER{% if draft_pick.selection.times_kept > 1 %} x {{ draft_pick.selection.times_kept }}{% endif %}</p>{% endif %}
          </td>
        {% else %}
          <td class="draft_pick_empty">{{ draft_pick.overall }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  <tr>
    <th class="round_number"/>
    {% for team in draft.original_team_order %}
      <th>
        <a href="{% url 'blingaleague.team_season' team.id draft.year %}">{{ forloop.counter }}. {{ team }}</a>
      </th>
    {% endfor %}
  </tr>
</table>
