<table id="draft_board">
  <tr>
    <th class="round_number"/>
    {% for team in draft.original_team_order %}
      <th>
        <a href="{% url 'blingaleague.team_season' team.id draft.year %}">{{ forloop.counter }}. {{ team }}</a>
      </th>
    {% endfor %}
  </tr>
  {% for round in draft.draft_board_picks %}
    <tr>
      <th class="round_number">{{ forloop.counter }}</th>
      {% for draft_pick in round %}
        <td class="draft_pick_pos_{{ draft_pick.position|lower }}">
          {% if draft_pick.original_team %}
            <p class="alternate_team" title="pick traded from {{ draft_pick.original_team }} to {{ draft_pick.team }}"><a href="{% url 'blingaleague.team_season' draft_pick.team.id draft_pick.year %}">{{ draft_pick.team }}</a></p>
          {% endif %}
          <p>
            <a href="{% url 'blingaleague.player' draft_pick.name %}">{{ draft_pick.name }}</a>
            {% if draft_pick.is_keeper %}<span class="blinganote" title="keeper">K</span>{% endif %}
          </p>
          <p>{{ draft_pick.position }}</p>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
