<table id="draft_board">
  <tr>
    <th class="round_number"/>
    {% for team in draft.original_team_order %}
      <th>
        <a href="{% url 'blingaleague.team_season' team.id draft.year %}">{{ forloop.counter }}. {{ team }}</a>
      </th>
    {% endfor %}
  </tr>
  {% for round in draft.draft_board_picks %}
    <tr class="round">
      <th class="round_number">{{ forloop.counter }}</th>
      {% for draft_pick in round %}
        <td class="draft_pick_pos_{{ draft_pick.position|lower }}">
          {% if draft_pick.original_team %}
            <p class="alternate_team" title="{% if draft_pick.is_keeper %}keeper{% else %}pick{% endif %} traded from {{ draft_pick.original_team }} to {{ draft_pick.team }}">{{ draft_pick.team }}</p>
          {% endif %}
          <p class="player {% if draft_pick.original_team %}pick_offset{% endif %}"><a href="{% url 'blingaleague.player' draft_pick.name %}">{{ draft_pick.name }}</a></p>
          <p class="position">{{ draft_pick.position }}</p>
          {% if draft_pick.is_keeper %}<p class="keeper">KEEPER</p>{% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  <tr>
    <th class="round_number"/>
    {% for team in draft.original_team_order %}
      <th>
        <a href="{% url 'blingaleague.team_season' team.id draft.year %}">{{ forloop.counter }}. {{ team }}</a>
      </th>
    {% endfor %}
  </tr>
</table>
