{% extends "blingaleague/base.html" %}

{% block title %}{{ draft|title }}{% endblock %}

{% block content %}
<h1>{{ draft|title }}</h1>

<h3><a href="{{ draft.season.href }}">{{ draft.season }}</a></h3>

<div class="center">
  {% if draft.previous %}
    <a href="{{ draft.previous.href }}{% if board_view %}?board_view{% endif %}" class="link previous">{{ draft.previous|title }}</a>
  {% endif %}

  {% if board_view %}
    <a href="{{ draft.href }}" style="position:relative; top:12px">View as List</a>
  {% else %}
    <a href="{{ draft.href }}?board_view" style="position:relative; top:12px">View as Board</a>
  {% endif %}

  {% if draft.next %}
    <a href="{{ draft.next.href }}{% if board_view %}?board_view{% endif %}" class="link next">{{ draft.next|title }}</a>
  {% endif %}
</div>

{% if board_view %}
  {% include "blingaleague/draft_board.html" %}
{% else %}
  {% include "blingaleague/draft_picks.html" %}
{% endif %}
{% endblock %}
