{% extends "blingaleague/base.html" %}

{% block title %}{{ draft|title }}{% endblock %}

{% block content %}
<h1>{{ draft|title }}</h1>

<h3><a href="{{ draft.season.href }}">{{ draft.season }}</a></h3>

<div class="center">
  {% if draft.previous %}
    <a href="{{ draft.previous.href }}" class="link previous">{{ draft.previous|title }}</a>
  {% endif %}

  {% if draft.next %}
    <a href="{{ draft.next.href }}" class="link next">{{ draft.next|title }}</a>
  {% endif %}
</div>

{% include "blingaleague/draft_picks.html" %}
{% endblock %}
