{% extends "blingaleague/base.html" %}

{% block title %}{{ base_object }}{% endblock %}

{% block content %}
<h1>{{ base_object }}</h1>

{% if base_object.headline %}<h2>{{ base_object.headline }}</h2>{% endif %}

<div id="games">
  {% if base_object.previous %}<a href="{{ base_object.previous.href }}" class="link previous">Previous</a>{% endif %}
  {% if base_object.next %}<a href="{{ base_object.next.href }}" class="link next">Next</a>{% endif %}

  {% for game in base_object.games %}
    {% include "blingaleague/single_game.html" %}
  {% endfor %}
</div>

{% endblock content %}
