{% extends "blingaleague/base.html" %}

{% block title %}{{ base_object }}{% endblock %}

{% block content %}
<h1>{{ base_object }}</h1>

{% if base_object.headline %}<h2>{{ base_object.headline }}</h2>{% endif %}

<div id="games">
  {% for game in base_object.games %}
    <div class="game">
      {% if not hide_week %}
        <div class="week">
          <a href="{% url 'blingaleague.week' game.year game.week %}">Week {{ game.week }}, {{ game.year }}</a>
        </div>
      {% endif %}
      <div class="teams">
        <a href="{{ game.winner.href }}">{{ game.winner }}</a>
        def.
        <a href="{{ game.loser.href }}">{{ game.loser }}</a>
      </div>
      <div class="score">{{ game.winner_score }} - {{ game.loser_score }}</div>
    </div>
  {% endfor %}
</div>

{% endblock content %}
