{% extends "blingaleague/base.html" %}

{% block content %}
<h1>Blingaleague</h1>

<div id="gazette">
  <h2>Latest Sanderson Gazette</h2>
  <ul>
    <li><a href="{% url 'blingacontent.gazette_detail' gazette.slug %}">{{ gazette }}</a></li>
  </ul>
</div>

{% if season.subheadings %}
  {% for subheading in season.subheadings %}
    <h2>{{ subheading }}</h2>
  {% endfor %}
{% else %}
  <h2>{{ season.year}} Season</h2>
{% endif %}

{% if season.playoff_bracket %}
  {% include "blingaleague/playoff_bracket.html" %}

  {% if season.subheadings %}
    {# if there weren't any subheadings, we already put this text in the above <h2> #}
    <h3> {{ season.year }} Season</h3>
  {% endif %}
{% endif %}

{% if season.weeks_with_games %}
  {% include "blingaleague/standings_table.html" %}

  {% if week %}
    <h3>Last Week</h3>
    <div id="games">
      {% for game in week.games %}
        {% include "blingaleague/single_game.html" %}
      {% endfor %}
    </div>
  {% endif %}
{% else %}
  {% if season.draft_teaser.draft_picks %}
    <h3>Draft</h3>
    {% with season.draft_teaser as draft %}
      {% include "blingaleague/draft_picks.html" %}
    {% endwith %}
  {% endif %}

  {% if season.keepers %}
    <h3>Keepers</h3>
    {% include "blingaleague/season_keepers.html" %}
  {% endif %}
{% endif %}

{% if season.trades and trades %}
  <h3>Recent Trades</h3>

  <div id="trades">
    {% for trade in trades %}
      {% include "blingaleague/single_trade.html" %}
    {% endfor %}
  </div>
{% endif %}
{% endblock content %}
