{% extends "blingaleague/base.html" %}

{% block content %}
<h1>Blingaleague</h1>

<div id="home_main">
  {% if season.subheadings %}
    {% for subheading in season.subheadings %}
      <h2>{{ subheading }}</h2>
    {% endfor %}
  {% else %}
    <h2><a href="{{ season.href }}">{{ season.year}} Season</a></h2>
  {% endif %}

  {% if season.playoff_bracket %}
    {% include "blingaleague/playoff_bracket.html" %}

    {% if season.subheadings %}
      {# if there weren't any subheadings, we already put this text in the above <h2> #}
      <h3><a href="{{ season.href }}">{{ season.year }} Season</a></h3>
    {% endif %}
  {% endif %}

  {% if season.weeks_with_games %}
    {% with True as short_form_standings %}
      {% include "blingaleague/standings_table.html" %}
    {% endwith %}
  {% else %}
    {% if season.draft_teaser.draft_picks %}
      <h2><a href="{{ season.draft.href }}">{{ season.draft|title }}</a></h2>
      {% with season.draft_teaser as draft %}
        {% include "blingaleague/draft_picks.html" %}
      {% endwith %}
    {% else %}
      <h3>Keepers</h3>
      {% include "blingaleague/season_keepers.html" %}
    {% endif %}
  {% endif %}

  {% if season.trades and trades %}
    <h2>Recent Trades</h2>

    <div id="trades">
      {% for trade in trades %}
        {% include "blingaleague/single_trade.html" %}
      {% endfor %}
    </div>
  {% endif %}
</div>

<div id="home_sidebar">
  <div id="gazette">
    <h2>Latest Sanderson Gazette</h2>
    <ul>
      <li><a href="{% url 'blingacontent.gazette_detail' gazette.slug %}">{{ gazette }}</a></li>
    </ul>
  </div>

  {% if week %}
    <h2>Last Week</h2>
    <div id="games">
      {% for game in week.games %}
        {% include "blingaleague/single_game.html" %}
      {% endfor %}
    </div>
  {% endif %}

  {% if not season.weeks_with_games %}
    {% if season.draft_teaser.draft_picks %}
      {# if the draft hasn't happened, we've included the keepers in the main section #}
      <h3>Keepers</h3>
      {% include "blingaleague/season_keepers.html" %}
    {% endif %}
  {% endif %}
</div>

<div id="home_footer">
  <h2>Random Teams</h2>
  {% for team_season in spotlight_team_seasons %}
    {% include "blingaleague/team_season_spotlight.html" %}
  {% endfor %}
</div>
{% endblock content %}
