{% extends "blingaleague/base.html" %}

{% block content %}
<h1>Blingaleague</h1>

<div id="gazette">
  <h2>Latest Sanderson Gazette</h2>
  <ul>
    <li><a href="{% url 'blingacontent.gazette_detail' gazette.slug %}">{{ gazette }}</a></li>
  </ul>
</div>

<h2>{% if standings.headline %}{{ standings.headline }}{% else %}Current Standings{% endif %}</h2>
{% include "blingaleague/standings_table.html" %}

<div id="games">
  <h2>Last Week</h2>
  {% for game in week.games %}
    {% include "blingaleague/single_game.html" %}
  {% endfor %}
</div>

{% endblock content %}
