<div class="playoff_bracket">
  {% for round in season.playoff_bracket %}
    <div class="round">
      <div class="title"><a href="{{ round.week.href }}">{{ round.week.headline }}</a></div>
      {% for game in round.games %}
        <div class="game">
          {% for team_dict in game %}
            <div class="team {% if team_dict.is_winner %}winner{% endif %}">
              {% if team_dict %}
                <span class="seed">#{{ team_dict.seed }}</span>
                <span class="name">{{ team_dict.team_season.team }}</span>
                {% if team_dict.score %}<span class="score">{{ team_dict.score }}</span>{% endif %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
