{% extends "blingaleague/base.html" %}

{% load humanize %}

{% block title %}Seasons{% endblock %}

{% block content %}
<h1>Seasons</h1>

<table id="season_list" class="table-striped">
  <tr>
    <th>Year</th>
    <th>Blingabowl Champion</th>
    <th colspan="2">First Place</th>
    <th colspan="2">Most Points</th>
    <th colspan="2">Highest Expected Win Pct</th>
  </tr>
  {% for season in season_list %}
    <tr {% if season.is_current_season %}class="emphasize"{% endif %}>
      <td>
        <a href="{{ season.href }}">
          {{ season.year }}
        </a>
      </td>
      {% if season.weeks_with_games %}
        <td class="team">
          <a href="{{ season.champion.href }}">{{ season.champion.team }}</a>
          {% if season.champion != season.first_place %}
            <small>#{{ season.champion.place_numeric }} seed</small>
          {% endif %}
        </td>
        <td class="team"><a href="{{ season.first_place.href }}">{{ season.first_place.team }}</a></td>
        <td class="value">{{ season.first_place.record }}</td>
        <td class="team">
          <a href="{{ season.most_points.href }}">{{ season.most_points.team }}</a>
          {% if season.most_points != season.first_place %}
            <small>{{ season.most_points.place }} place</small>
          {% endif %}
        </td>
        <td class="value">{{ season.most_points.points|intcomma }}</td>
        <td class="team">
          <a href="{{ season.most_expected_wins.href }}">{{ season.most_expected_wins.team }}</a>
          {% if season.most_expected_wins != season.first_place %}
            <small>{{ season.most_expected_wins.place }} place</small>
          {% endif %}
        </td>
        <td class="value">{{ season.most_expected_wins.expected_win_pct|floatformat:3 }}</td>
      {% else %}
        <td/> {# Champion #}
        <td/><td/> {# First Place #}
        <td/><td/> {# Most Points #}
        <td/><td/> {# Most Expected Wins #}
      {% endif %}
    </tr>
  {% endfor %}
</table>

<div class="wide_graph">{{ season_averages_graph_html|safe }}</div>

{% endblock %}
