{% load humanize %}

<table style="margin-bottom:30px">
  {% for team_season in season.alpha_team_seasons %}
    {% if team_season.keepers %}
      <tr>
        <td><a href="{{ team_season.href }}">{{ team_season.team }}</a></td>
        <td>{% if team_season.keepers|length > 0 %}<a href="{% url 'blingaleague.player' team_season.keepers.0.name %}">{{ team_season.keepers.0.name }}</a> ({{ team_season.keepers.0.round|ordinal }}){% endif %}</td>
        <td>{% if team_season.keepers|length > 1 %}<a href="{% url 'blingaleague.player' team_season.keepers.1.name %}">{{ team_season.keepers.1.name }}</a> ({{ team_season.keepers.1.round|ordinal }}){% endif %}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
