{% extends "blingaleague/base.html" %}

{% load humanize %}

{% block title %}
  {{ season }}
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
{% endblock %}

{% block content %}
<h1>
  {{ season }}
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
</h1>

{% if week_max %}<a href="{{ season.regular_season.href }}">Full season</a>{% endif %}

<div id="season_details">
  {% if season.headline %}<h2>{{ season.headline }}</h2>{% endif %}

  <div class="center">
    {% if season.previous %}
      <a href="{{ season.previous.href }}" class="link previous">Previous</a>
    {% endif %}

    <a href="{% url 'blingaleague.seasons' %}">All seasons</a>

    {% if season.next %}
      <a href="{{ season.next.href }}" class="link next">Next</a>
    {% endif %}
  </div>

  {% if season.weeks_with_games %}
    {% include "blingaleague/standings_table.html" %}
  {% endif %}

  {% if season.playoff_bracket %}
    {% include "blingaleague/playoff_bracket.html" %}
  {% endif %}

  {% if weeks_with_games %}
    <div>
      Week:
      {% for week in weeks_with_games %}
        <a href="{% url 'blingaleague.week' season.year week %}">{{ week }}</a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="wide_graph">{{ place_by_week_graph_html|safe }}</div>

  {% if season.keepers %}
    <h2>Keepers</h2>
    <table>
      {% for team_season in season.alpha_team_seasons %}
        {% if team_season.keepers %}
          <tr>
            <td><a href="{{ team_season.href }}">{{ team_season.team }}</a></td>
            <td>{% if team_season.keepers|length > 0 %}{{ team_season.keepers.0.name }} ({{ team_season.keepers.0.round|ordinal }}){% endif %}</td>
            <td>{% if team_season.keepers|length > 1 %}{{ team_season.keepers.1.name }} ({{ team_season.keepers.1.round|ordinal }}){% endif %}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}

  {% if season.trades %}
    <h2>Trades</h2>
    <div id="trades">
      {% for trade in season.trades %}
        {% include "blingaleague/single_trade.html" %}
      {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock %}
