{% extends "blingaleague/base.html" %}

{% block title %}
  {{ season|title }}
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
{% endblock %}

{% block content %}
<h1>
  {{ season }}
  {% if week_max %}
    (through week {{ week_max }})
  {% endif %}
</h1>

{% if week_max %}<a href="{{ season.regular_season.href }}">Full season</a>{% endif %}

<div id="season_details">
  {% for subheading in season.subheadings %}
    <h2>{{ subheading }}</h2>
  {% endfor %}

  <div class="center">
    {% if season.previous %}
      <a href="{{ season.previous.href }}" class="link previous">{{ season.previous }}</a>
    {% endif %}

    <a href="{% url 'blingaleague.seasons' %}" style="position:relative; top:12px">All seasons</a>

    {% if season.next %}
      <a href="{{ season.next.href }}" class="link next">{{ season.next }}</a>
    {% endif %}
  </div>

  {% if season.weeks_with_games %}
    {% include "blingaleague/standings_table.html" %}
  {% endif %}

  {% if season.playoff_bracket %}
    {% include "blingaleague/playoff_bracket.html" %}
  {% endif %}

  {% if weeks_with_games %}
    <div>
      Week:
      {% for week in weeks_with_games %}
        <a href="{% url 'blingaleague.week' season.year week %}">{{ week }}</a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="wide_graph">{{ place_by_week_graph_html|safe }}</div>

  {% if season.keepers %}
    <h2>Keepers</h2>
    {% include "blingaleague/season_keepers.html" %}
  {% endif %}

  {% if season.draft_teaser.draft_picks %}
    <h2>Draft</h2>
    {% with season.draft_teaser as draft %}
      {% include "blingaleague/draft_picks.html" %}
    {% endwith %}
  {% endif %}

  {% if season.trades %}
    <h2>Trades</h2>
    <div id="trades">
      {% for trade in season.trades %}
        {% include "blingaleague/single_trade.html" %}
      {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock %}
