<div class="game">
  <div class="week">
    <a href="{{ game.week_object.href }}">{{ game.title }}</a>
  </div>
  <div class="teams">
    <a href="{{ game.winner.href }}">{{ game.winner }}</a>
    def.
    <a href="{{ game.loser.href }}">{{ game.loser }}</a>
  </div>
  <div class="score">
    {% if game.blangums %}
      <strong>{{ game.winner_score }}</strong>
    {% else %}
      {{ game.winner_score }}
    {% endif %}
    -
    {% if game.slapped_heartbeat %}
      <strong>{{ game.loser_score }}</strong>
    {% else %}
      {{ game.loser_score }}
    {% endif %}
  </div>
</div>
