{% extends "blingaleague/base.html" %}

{% load humanize %}

{% block title %}{{ year }} standings{% endblock %}

{% block content %}
<div>{{year}} standings</div>

<div>{{ standings.headline }}</div>

<table>
  <tr><th/><th/><th>W</th><th>L</th><th>Points</th><th></th></tr>
  {% for row in standings.table %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ row.member }}</td>
        <td>{{ row.wins }}</td>
        <td>{{ row.losses }}</td>
        <td>{{ row.points|intcomma }}</td>
        <td>{{ row.notes }}</td>
      </tr>
  {% endfor %}
</table>
{% endblock %}
