{% extends "blingaleague/base.html" %}

{% block title %}{{ standings }}{% endblock %}

{% block content %}
<h1>{{ standings }}</h1>

{% if standings.headline %}<h2>{{ standings.headline }}</h2>{% endif %}

{% include "blingaleague/standings_table.html" %}

<div>
  {% for link in links %}
    {% if link.href %}
      <a href="{{ link.href }}">{{ link.text }}</a>
    {% else %}
      <strong>{{ link.text }}</strong>
    {% endif %}
  {% endfor %}
</div>

{% for sub_template in sub_templates %}
  {% include sub_template %}
{% endfor %}

{% endblock %}
