<th/> {# Place #}
<th/> {# Team #}
<th title="Wins">W</th>
<th title="Losses">L</th>
<th title="Winning Percentage">W%</th>
<th>Points</th>
<th title="Expected Wins">Exp. W</th>
<th title="Expected Winning Percentage">Exp. %</th>
<th title="Strength of Schedule">SOS</th>
<th title="All-Play Winning Percentage">All-Play</th>
<th title="Team Blangums Awards">Blangums</th>
<th title="Slapped Heartbeat Awards">SH</th>
{% if season.all_time %}
  <th>RobScore</th>
{% else %}
  <th>Streak</th>
  {% if not hide_playoff_finish %}
    <th/> {# Playoff Finish #}
  {% endif %}
{% endif %}
