{% load humanize %}
<td>{{ forloop.counter }}</td>
<td style="text-align:left">
  <a href="{{ team_season.href }}">{{ team_season.team }}</a>
  {% if team_season.standings_note %}
    <span class="standings_note" title="{{ team_season.standings_note.1 }}">{{ team_season.standings_note.0 }}</span>
  {% endif %}
</td>
<td>{{ team_season.win_count }}</td>
<td>{{ team_season.loss_count }}</td>
<td>{{ team_season.win_pct|floatformat:3 }}</td>
<td>{{ team_season.points|intcomma }}</td>
<td>{{ team_season.expected_wins|floatformat:2 }}</td>
<td>{{ team_season.expected_win_pct|floatformat:3 }}</td>
<td>{{ team_season.expected_wins_against|floatformat:2 }}</td>
<td>{{ team_season.blangums_count }}</td>
{% if season.all_time %}
  <td>{{ team_season.robscore|floatformat:2 }}</td>
{% else %}
  <td style="text-align:center">{{ team_season.current_streak }}</td>
  {% if not season.is_partial %}
    <td style="text-align:left">{{ team_season.playoff_finish }}</td>
  {% endif %}
{% endif %}
