{% load humanize %}
<td>{{ forloop.counter }}</td>
<td style="text-align:left"><a href="{{ team_season.href }}">{{ team_season.team }}</a></td>
<td>{{ team_season.win_count }}</td>
<td>{{ team_season.loss_count }}</td>
<td>{{ team_season.win_pct|floatformat:3 }}</td>
<td>{{ team_season.points|intcomma }}</td>
<td>{{ team_season.expected_wins|floatformat:1 }}</td>
<td>{{ team_season.expected_win_pct|floatformat:3 }}</td>
{% if standings.all_time %}<td>{{ team_season.robscore|floatformat:2 }}</td>{% endif %}
<td>{{ team_season.blangums_count }}</td>
<td style="text-align:left">{{ team_season.playoff_finish }}</td>
