{% load humanize %}
<td>{{ forloop.counter }}</td>
<td style="text-align:left">
  <a href="{{ team_season.href }}">{{ team_season.team }}</a>
  {% if team_season.standings_note %}
    <span class="standings_note" title="{{ team_season.standings_note.1 }}">{{ team_season.standings_note.0 }}</span>
  {% endif %}
</td>
<td>{{ team_season.win_count }}</td>
<td>{{ team_season.loss_count }}</td>
<td>{{ team_season.win_pct|floatformat:3 }}</td>
<td>{{ team_season.points|intcomma }}</td>
<td>{{ team_season.expected_wins|floatformat:2 }}</td>
<td>{{ team_season.expected_win_pct|floatformat:3 }}</td>
<td>{{ team_season.all_play_win_pct|floatformat:3 }}</td>
<td>{{ team_season.points_against|intcomma }}</td>
<td>{{ team_season.strength_of_schedule_str }}</td>
<td>{{ team_season.blangums_count }}</td>
<td>{{ team_season.slapped_heartbeat_count }}</td>
<td style="text-align:center">{{ team_season.current_streak }}</td>
{% if not hide_playoff_finish %}
  <td sorttable_customkey="{{ team_season.playoff_finish_sort_key }}" style="text-align:left">{{ team_season.playoff_finish }}</td>
{% endif %}
