{% extends 'blingaleague/base.html' %}

{% load humanize %}

{% block title %}{{ team }}{% endblock %}

{% block content %}

<h1>{{ team }}</h1>

<div id="team_details">
  <h2>{{ team.seasons.win_count|intcomma }}-{{ team.seasons.loss_count|intcomma }} ({{ team.seasons.win_pct|floatformat:3 }})</h2>
  <h3>{{ team.seasons.expected_wins|floatformat:2|intcomma }} expected wins ({{ team.seasons.expected_win_pct|floatformat:3 }})</h3>
  <h3>{{ team.seasons.all_play_record_str }} all-play record ({{ team.seasons.all_play_win_pct|floatformat:3}})</h3>
  <h3>{{ team.seasons.strength_of_schedule_str }} strength of schedule</h3>

  <h2>Seasons</h2>
  <table class="standings_table sortable">
    <tr>
      <th/> {# Year #}
      <th>Place</th>
      <th title="Wins">W</th>
      <th title="Losses">L</th>
      <th>Points</th>
      <th title="Expected Wins">Exp. W</th>
      <th title="Expected Winning Percentage">Exp. %</th>
      <th title="Strength of Schedule">SOS</th>
      <th title="All-Play Winning Percentage">All-Play</th>
      <th title="Team Blangums Awards">Blangums</th>
      <th title="Slapped Heartbeat Awards">SH</th>
      <th/>{# Playoff Finish #}
    </tr>
    {% for team_season in team.seasons reversed %}
      {% if team_season.games %}
        <tr {% if team_season.is_current_season %}class="emphasize"{% endif %}>
          <td><a href="{{ team_season.season_object.href }}">{{ team_season.season_object.year }}</a></td>
          <td sorttable_customkey="{{ team_season.place_numeric }}"><a href="{{ team_season.href }}">{{ team_season.place }}</a></td>
          <td>{{ team_season.win_count }}</td>
          <td>{{ team_season.loss_count }}</td>
          <td>{{ team_season.points|intcomma }}</td>
          <td>{{ team_season.expected_wins|floatformat:2 }}</td>
          <td>{{ team_season.expected_win_pct|floatformat:3 }}</td>
          <td>{{ team_season.strength_of_schedule_str }}</td>
          <td>{{ team_season.all_play_win_pct|floatformat:3 }}</td>
          <td>{{ team_season.blangums_count }}</td>
          <td>{{ team_season.slapped_heartbeat_count }}</td>
          <td style="text-align:left">{{ team_season.playoff_finish }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>

  <div class="wide_graph">{{ rank_by_year_graph_html|safe }}</div>

  {% if team.blangums_games %}
    <h2>
      Team Blangums ({{ team.seasons.blangums_count }})
      {% with "team_blangums" as toggle_section_id %}{% include "blingaleague/toggle_button.html" %}{% endwith %}
    </h2>
    {% with "team_blangums" as award_id %}
    {% with team.blangums_games as games %}
      {% include "blingaleague/awards_games.html" %}
    {% endwith %}
    {% endwith %}
  {% endif %}

  {% if team.slapped_heartbeat_games %}
    <h2>
      Slapped Heartbeats ({{ team.seasons.slapped_heartbeat_count }})
      {% with "team_slapped_heartbeats" as toggle_section_id %}{% include "blingaleague/toggle_button.html" %}{% endwith %}
    </h2>
    {% with "team_slapped_heartbeats" as award_id %}
    {% with team.slapped_heartbeat_games as games %}
      {% include "blingaleague/awards_games.html" %}
    {% endwith %}
    {% endwith %}
  {% endif %}

  {% if team.seasons.keepers %}
    <h2>
      Keepers
      {% with "team_keepers" as toggle_section_id %}{% include "blingaleague/toggle_button.html" %}{% endwith %}
    </h2>
    <table id="team_keepers" style="display:none">
      {% for team_season in team.seasons reversed %}
        {% if team_season.keepers %}
          <tr>
            <td><a href="{{ team_season.season_object.href }}">{{ team_season.season_object.year }}</a></td>
            <td>{% if team_season.keepers|length > 0 %}{{ team_season.keepers.0.name }} ({{ team_season.keepers.0.round|ordinal }}){% endif %}</td>
            <td>{% if team_season.keepers|length > 1 %}{{ team_season.keepers.1.name }} ({{ team_season.keepers.1.round|ordinal }}){% endif %}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}

  {% if team.seasons.trades %}
    <h2>
      Trades
      {% with "team_trades" as toggle_section_id %}{% include "blingaleague/toggle_button.html" %}{% endwith %}
    </h2>
    <table class="team_transactions table-striped" id="team_trades" style="display:none">
      <tr>
        <th>Year</th>
        <th>Week</th>
        <th>Traded for</th>
        <th>Traded away</th>
      </tr>
      {% for team_season in team.seasons reversed %}
        {% for trade in team_season.trades reversed %}
          {% with True as include_year %}
            {% include "blingaleague/team_trade_row.html" %}
          {% endwith %}
        {% endfor %}
      {% endfor %}
    </table>
  {% endif %}
</div>

{% endblock content %}
