{% load humanize %}

<td sorttable_customkey="{{ season_list.last_active_year }}{{ season_list.first_active_year }}" style="text-align:center; font-size:smaller">
  {{ season_list.first_active_year }}{% if team.defunct %}{% if season_list.first_active_year != season_list.last_active_year %}&ndash;{{ season_list.last_active_year }}{% endif %}{% else %}&ndash;current{% endif %}
</td>
<td>{{ season_list.win_count }}</td>
<td>{{ season_list.loss_count }}</td>
<td>{{ season_list.win_pct|floatformat:3 }}</td>
<td>{{ season_list.points|intcomma }}</td>
<td>{{ season_list.expected_wins|floatformat:2 }}</td>
<td>{{ season_list.expected_win_pct|floatformat:3 }}</td>
<td>{{ season_list.blangums_count }}</td>
<td>{{ season_list.slapped_heartbeat_count }}</td>
<td>{{ team.playoff_seasons|length }}</th>
<td>{{ team.championship_seasons|length }}</th>
<td>{{ season_list.robscore|floatformat:2 }}</td>
