{% extends "blingaleague/base.html" %}

{% block title %}Team vs. Team{% endblock %}

{% block content %}
<h1>Team vs. Team</h1>

<table id="team_vs_team_grid">
  <tr>
    <th>W\L</th>
    {% for team in teams %}
      <th {% if team.defunct %}class="defunct"{% endif %}><a href="{{ team.href }}">{{ team.full_name }}</a></th>
    {% endfor %}
  </tr>
  {% for row in grid %}
    <tr>
      <th {% if row.team.defunct %}class="defunct"{% endif %}><a href="{{ row.team.href }}">{{ row.team.full_name }}</a></th>
      {% for matchup in row.matchups %}
        {% ifequal matchup.team1 matchup.team2 %}
          <td class="empty"/>
        {% else %}
          <td {% if matchup.team1.defunct or matchup.team2.defunct %}class="defunct"{% endif %}><a href="{{ matchup.href }}">{{ matchup.record }}</a></td>
        {% endifequal %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
