{% if base_object.games or base_object.future_games %}
  <table class="game_table sortable">
    <tr>
      <th>Week</th>
      <th>W/L</th>
      <th>PF</th>
      <th>PA</th>
      <th>Opponent</th>
      <th>Margin</th>
      <th/> {# Notes #}
    </tr>
    {% for game in base_object.games %}
      <tr {% if game.is_playoffs %}class="playoffs"{% endif %}>
        <td><a href="{{ game.week_object.href }}">{{ game.week }}</a></td>
        {% if base_object.team == game.winner %}
          <td style="text-align:center">W</td>
          <td>{{ game.winner_score }}</td>
          <td>{{ game.loser_score }}</td>
          <td style="text-align:left">
            <a href="{% url 'blingaleague.team_season' game.loser.id game.year %}">{{ game.loser }}</a>
          </td>
          <td>{{ game.margin }}</td>
          <td style="text-align:left">
            {% if game.playoff_title %}
              {{ game.playoff_title }}
            {% elif game.blangums %}
              Team Blangums
            {% endif %}
          </td>
        {% else %}
          <td style="text-align:center">L</td>
          <td>{{ game.loser_score }}</td>
          <td>{{ game.winner_score }}</td>
          <td style="text-align:left">
            <a href="{% url 'blingaleague.team_season' game.winner.id game.year %}">{{ game.winner }}</a>
          </td>
          <td>-{{ game.margin }}</td>
          <td style="text-align:left">
            {% if game.playoff_title %}
              {{ game.playoff_title }}
            {% elif game.slapped_heartbeat %}
              Slapped Heartbeat
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    {% for game in base_object.future_games %}
      <tr>
        <td><a href="{{ game.week_object.href }}">{{ game.week }}</a></td>
        <td/> {# W/L #}
        <td/> {# PF #}
        <td/> {# PA #}
        <td style="text-align:left">
          {% if base_object.team == game.team_1 %}
            <a href="{% url 'blingaleague.team_season' game.team_2.id game.year %}">{{ game.team_2 }}</a>
          {% else %}
            <a href="{% url 'blingaleague.team_season' game.team_1.id game.year %}">{{ game.team_1 }}</a>
          {% endif %}
        </td>
        <td/> {# Margin #}
        <td/> {# Notes #}
      </tr>
    {% endfor %}
  </table>
{% endif %}
