{% if base_object.trades %}
  <h3>Trades</h3>

  <table class="trades">
    <tr>
      <th>Week</th>
      <th>Traded for</th>
      <th>Traded away</th>
    </tr>
    {% for trade in base_object.trades %}
      <tr class="trade">
        <td style="text-align:right">
          <a href="{{ trade.trade.week_object.href }}">{{ trade.trade.week }}</a>
        </td>
        <td>
          {% with trade.received as asset_list %}
            {% include "blingaleague/traded_asset_list.html" %}
          {% endwith %}
        </td>
        <td>
          {% with trade.sent as asset_list %}
          {% with True as is_sender_pov %}
            {% include "blingaleague/traded_asset_list.html" %}
          {% endwith %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
