{% extends "blingaleague/base.html" %}

{% block title %}Franchises{% endblock %}

{% block content %}
<h1>Franchises</h1>

<table id="team_list" class="table-striped sortable">
  <tr>
    <th/> {# Team #}
    <th/> {# Tenure #}
    <th title="Wins">W</th>
    <th title="Losses">L</th>
    <th title="Winning Percentage">W%</th>
    <th>Points</th>
    <th title="Expected Wins">Exp. W</th>
    <th title="Expected Winning Percentage">Exp. %</th>
    <th title="Team Blangums Awards">Blangums</th>
    <th title="Slapped Heartbeat Awards">SH</th>
    <th title="Playoff Appearances">Playoffs</th>
    <th title="Championships Won">Champ</th>
    <th>RobScore</th>
  </tr>
  {% for team in team_list %}
    <tr {% if team.defunct %}class="defunct"{% endif %}>
      <td style="text-align:left">
        <a href="{{ team.href }}">{{ team }}</a>
        {% if team.defunct %}
          <span class="blinganote" title="Franchise is defunct">RIP in Peace</span>
        {% endif %}
      </td>
      {% if include_playoffs %}
        {% with team.seasons_including_playoffs as season_list %}
          {% include 'blingaleague/team_list_aggregate_data.html' %}
        {% endwith %}
      {% else %}
        {% with team.seasons as season_list %}
          {% include 'blingaleague/team_list_aggregate_data.html' %}
        {% endwith %}
      {% endif %}
    </tr>
  {% endfor %}
</table>

<p>
  <small>
    <em>
    Team records {% if include_playoffs %}include playoff games{% else %}are for regular season games only{% endif %}.
      <a href={% url 'blingaleague.teams' %}{% if not include_playoffs %}?include_playoffs{% endif %}>
        {% if include_playoffs %}Show regular season records only{% else %}Include playoff games{% endif %}.
      </a>
    </em>
  </small>
</p>

{% endblock content %}
