{% extends 'blingaleague/base.html' %}

{% load humanize %}

{% block title %}{{ team }}{% endblock %}

{% block content %}

<h1>{{ team }}</h1>

<div id="team_details">
  <h2>Overall record: {{ team.seasons.record }}</h2>

  <h2>Seasons</h2>
  <table class="standings_table">
    <tr>
      <th/> {# Year #}
      <th>Place</th>
      <th>W</th>
      <th>L</th>
      <th>Points</th>
      <th>Exp. W</th>
      <th>Exp. %</th>
      <th>Blangums</th>
      <th/>{# Playoff Finish #}
    </tr>
    {% for team_season in team.seasons reversed %}
      <tr>
        <td><a href="{{ team_season.season_object.href }}">{{ team_season.season_object.year }}</a></td>
        <td><a href="{{ team_season.href }}">{{ team_season.place }}</a></td>
        <td>{{ team_season.win_count }}</td>
        <td>{{ team_season.loss_count }}</td>
        <td>{{ team_season.points|intcomma }}</td>
        <td>{{ team_season.expected_wins|floatformat:2 }}</td>
        <td>{{ team_season.expected_win_pct|floatformat:3 }}</td>
        <td>{{ team_season.blangums_count }}</td>
        <td style="text-align:left">{{ team_season.playoff_finish }}</td>
      </tr>
    {% endfor %}
  </table>

  <h2>Team Blangums ({{ team.blangums_games|length }})</h2>
  {% with team.blangums_games as games %}
    {% include "blingaleague/awards_games.html" %}
  {% endwith %}

  <h2>Slapped Heartbeats ({{ team.slapped_heartbeat_games|length }})</h2>
  {% with team.slapped_heartbeat_games as games %}
    {% include "blingaleague/awards_games.html" %}
  {% endwith %}
</div>

{% endblock content %}
