{% load humanize %}

{% if base_object.trades %}
  <h3>Trades</h3>

  <table class="trades">
    <tr>
      <th/> {# week #}
      <th>Traded for</th>
      <th>Traded away</th>
    </tr>
    {% for trade in base_object.trades %}
      <tr class="trade">
        <td>
          <a href="{{ trade.trade.week_object.href }}">{{ trade.trade.week_object }}</a>
        </td>
        <td>
          <ul>
            {% for asset in trade.received %}
              <li>
                {{ asset.name }}
                <small>
                  - from <a href="{%url 'blingaleague.team_season' asset.sender.id asset.trade.year %}">{{ asset.sender.nickname }}</a>
                  {% if asset.keeper_cost and not asset.is_draft_pick %}- keeper cost: {{ asset.keeper_cost|ordinal }}{% endif %}
                </small>
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for asset in trade.sent %}
              <li>
                {{ asset.name }}
                <small>
                  - to <a href="{%url 'blingaleague.team_season' asset.sender.id asset.trade.year %}">{{ asset.sender.nickname }}</a>
                  {% if asset.keeper_cost and not asset.is_draft_pick %} - keeper cost: {{ asset.keeper_cost }}{% endif %}
                </small>
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
