html, body, nav, div, p, a, img, h1, h2, h3, h4, h5, h6, form,
span, label, input, textarea, table, tr, th, td, ul, ol, li {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: inherit;
}

ul {
    padding: 0 6px;
}

li {
    list-style-type: none;
}

a, a:hover, a:visited, a:focus {
    color: #3344dd;
}

table, tr, th, td, table a {
    font-size: inherit;
}

table {
    margin-bottom: 12px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

tbody tr:hover,
.table-striped > tbody > tr:nth-of-type(odd):hover {
    background-color: #eaeaea;
}

th, td {
    padding: 0 6px;
}

th, td, tr::before {
    vertical-align: middle;
}

th, thead tr::before,
th a, th a:hover, th a:visited, th a:focus {
    font-weight: bold;
    color: white;
    background-color: #a4c2f4;
}


h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

nav {
    background-color: #a4c2f4;
    border: none !important;
    border-radius: 0 !important;
}

.navbar-brand {
    padding: 5px;
}

nav .icon-bar {
    background-color: red;
}

.nav li a, nav li a,
.nav li a:visited, nav li a:visited,
.nav li a:focus, nav li a:focus {
    color: white;
    background-color: #a4c2f4;
    font-weight: bold;
}

.nav li a:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: red;
    background-color: white;
}

.nav a.navbar-brand:hover {
    background-color: inherit;
}

.dropdown-menu {
    padding: 0;
}

#main_outer {
    padding: 0 15px 30px 15px;
}

#main_inner {
    background-color: white;
}

#nav_shield {
    width: 40px;
    height: 40px;
}

table.standings_table th {
    text-align: center;
}

table.standings_table td {
    text-align: right;  /* by default, since these are mostly numbers */
}

table#team_vs_team_grid,
table#team_vs_team_grid th,
table#team_vs_team_grid td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

table#team_vs_team_grid .empty {
    background-color: #eaeaea;
}

#games {
    max-width: 600px;
}

#games .game {
    clear: both;
    padding: 12px 24px;
    text-align: center;
    border-bottom: 1px solid #a4c2f4;
}

#games .previous {
    float: left;
}

#games .next {
    float: right;
}

#games .game:first {
    border-top: 1px solid #a4c2f4;
}

#games .game .week {
    font-size: 12px;
}

#games .game teams,
#games .game .score {
    font-size: 18px;
}

table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    text-align: right;
}
table.sortable th {
    cursor: pointer;
}

.blingalytics th,
.blingalytics td,
.blingalytics thead tr::before,
.blingalytics tbody tr::before,
.blingalytics a {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.blingalytics th {
    text-align: center;
}

.blingalytics td {
    text-align: right;
}

.blingalytics_form {
    font-size: 12px;
    max-width: 600px;
}

.blingalytics_form input[type=submit] {
    clear: both;
    margin-left: 150px;
}

.blingalytics_form input[type=checkbox],
.blingalytics_form input[type=radio] {
    vertical-align: top;
    margin-top: 2px;
}

.blingalytics_form label {
    width: 150px;
}

.blingalytics_form ul li {
    display: block;
    clear: both;
}

.blingalytics_form ul li ul li {
    width: 150px;
    float: left;
    clear: none;
}

.blingalytics_form ul li ul li label {
    font-weight: normal;
}

.blingalytics_form .errorlist {
    font-style: italic;
    color: red;
}

.blingalytics_form .errorlist li {
    width: 100%;
}
