/* Basic color scheme taken from the Chicago flag: https://design.chicago.gov/2019/08/26/choosing-the-cds-color-set.html */

html, body {
    font-family: Nunito, "Segoe UI", Optima, "DejaVu Sans", "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

nav, div, p, a, img, h1, h2, h3, h4, h5, h6, form,
span, label, input, textarea, table, tr, th, td, ul, ol, li {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    color: #333333;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: bold;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 110%;
}

small {
    font-size: 60%;
    font-family: Nunito, "Segoe UI", Optima, "DejaVu Sans", "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
}

ul {
    padding: 0 6px;
}

li {
    list-style-type: none;
}

ol li {
    list-style-type: decimal;
}

a, a:hover, a:visited, a:focus {
    color: #3344dd;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

table, tr, th, td {
    font-size: inherit;
}

table {
    margin-bottom: 12px;
    border-collapse: separate;
}

.table-striped {
    border: 1px solid #333333;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f4f4f4;
}

tbody tr:hover,
.table-striped > tbody > tr:nth-of-type(odd):hover,
table.game_table tr.playoffs:hover {
    background-color: #eaeaea;
}

th, td {
    padding: 0 6px;
}

th, td, tr::before {
    vertical-align: middle;
}

th, thead tr::before,
th a, th a:hover, th a:visited, th a:focus {
    font-weight: bold;
    color: white;
    background-color: #41b6e6;
}

.previous {
    float: left;
}

.previous::before {
    content: "\2190 ";
}

.next {
    float: right;
}

.next::after {
    content: " \2192";
}

.previous,
.next {
    margin: 12px 0;
}

.center {
    clear: both;
    text-align: center;
    max-width: 900px;
}

.table_footer {
    font-style: italic;
    font-size: 80%;
    text-align: center;
}

#home_main {
    display: inline-block;
    min-width: 720px;
    margin-right: 30px;
    vertical-align: top;
}

#home_sidebar {
    display: inline-block;
    width: 400px;
    vertical-align: top;
}

#home_sidebar #gazette {
    margin-bottom: 30px;
}

#home_sidebar #games,
#home_sidebar #trades {
    width: 100%;
}

#home_sidebar #games .game,
#home_sidebar #trades .trade {
    width: 100%;
}

#home_footer {
    display: block;
}

.team_season_spotlight {
    display: inline-block;
    width: 400px;
    padding: 12px 24px;
    vertical-align: top;
}

.team_season_spotlight h3 {
    font-weight: normal;
    margin-bottom: 2px;
}

.team_season_spotlight ul {
    margin: 0;
}

table.defunct_teams th,
table.defunct_teams th a, table.defunct_teams th a:hover,
table.defunct_teams th a:visited, table.defunct_teams th a:focus {
    color: #333333;
    background-color: #f4f4f4;
}

td.defunct,
td.defunct a, td.defunct a:hover, td.defunct a:visited, td.defunct a:focus {
    color: #a0a0a0;
    font-style: italic;
}

td.draft_pick_pos_rb {
    background-color: #ffcccb;
}

td.draft_pick_pos_wr {
    background-color: #add8e6;
}

td.draft_pick_pos_qb {
    background-color: #ffffe0;
}

td.draft_pick_pos_te {
    background-color: #90ee90;
}

td.draft_pick_pos_def {
    background-color: #fed8b1;
}

td.draft_pick_pos_k {
    background-color: #e6e6fa;
}

nav, #footer {
    background-color: #41b6e6;
    border-width: none !important;
    border-radius: 0 !important;
}

nav {
    border-bottom: 4px solid #e4002b !important;
}

footer {
    border-top: 2px solid #e4002b !important;
    color: white;
    text-align: center;
    padding: 4px 8px;
    font-size: 75%;
}

#footer a,
#footer a:focus,
#footer a:visited {
    color: white;
}

.navbar-brand {
    padding: 5px;
}

nav .icon-bar {
    background-color: #e4002b;
}

.nav li a, nav li a,
.nav li a:visited, nav li a:visited,
.nav li a:focus, nav li a:focus {
    color: white;
    background-color: #41b6e6;
    font-size: 90%;
    font-weight: bold;
    padding: 15px 10px;
}

.nav li a span {
    color: white;
}

.nav li a:hover span {
    color: #e4002b;
}

.nav ul.dropdown-menu li a {
    padding-top: 6px;
    padding-bottom: 6px;
}

.nav li a:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #e4002b;
    background-color: white;
}

.nav a.navbar-brand:hover {
    background-color: inherit;
}

.dropdown-menu {
    padding: 0;
    border-width: 0;
}

#main_outer {
    padding: 0 60px 60px 60px;
    margin-top: 60px;
    min-height: 100%;
}

#main_inner {
    background-color: white;
}

#main_bottom {
    clear: both;
}

#nav_shield {
    width: 40px;
    height: 40px;
}

.emphasize {
    font-style: italic;
}

table.sortable th {
    cursor: pointer;
}

table.standings_table th,
table.transactions th {
    white-space: nowrap;
    text-align: center;
}

table.standings_table td {
    white-space: nowrap;
    text-align: right;  /* by default, since these are mostly numbers */
}

.transactions td {
    white-space: nowrap;
    vertical-align: top;
}

#player .transactions td {
    vertical-align: middle;
    padding: 6px;
}

#player .transactions ul {
    margin: 0;
}

.trade td {
    vertical-align: middle;
}

.trade ul {
    margin-bottom: 6px;
}

.transactions .trade ul {
    margin-top: 6px;
}

.standings_note {
    font-size: 60%;
    vertical-align: top;
    cursor: help;
}

table#team_vs_team_grid,
table#team_vs_team_grid th,
table#team_vs_team_grid td {
    border: 1px solid #a0a0a0;
    text-align: center;
    vertical-align: middle;
    font-size: 90%;
}

table#team_vs_team_grid {
    width: 100%;
}

table#team_vs_team_grid th,
table#team_vs_team_grid th a {
    white-space: normal;
}

table#team_vs_team_grid .empty {
    background-color: #eaeaea;
}

table#season_list {
}

table#season_list .team {
}

table#season_list .value {
    text-align: right;
    padding-right: 18px;
    white-space: nowrap;
}

table#season_list .value:last-of-type {
    padding-right: 6px;
}

table#team_list {
}

table#team_list th {
    text-align: center;
}

table#team_list td {
    text-align: right;
}

.team_list_graph {
    margin-bottom: 30px;
}

svg.pygal-chart {
    width: 600px;
}

.wide_graph {
    margin-bottom: 30px;
}

.wide_graph svg.pygal-chart {
    width: 800px;
}

#games,
#season_details,
#trades,
.transactions {
    width: fit-content;
    margin-bottom: 30px;
}

#games .game,
#trades .trade {
    clear: both;
    padding: 12px 24px;
    text-align: center;
    border-bottom: 1px solid #41b6e6;
    width: 600px;
}

#games .game:last-of-type,
#trades .trade:last-of-type {
    margin-bottom: 30px;
}

#games .game .week,
#trades .trade .week {
    font-size: 75%;
}

#games .game .teams,
#games .game .score {
    font-size: 100%;
}

#trades .trade .asset_group {
    text-align: left;
}

.blingalytics_table .asset_group {
    display: inline-block;
    width: 400px;
    white-space: normal;
    vertical-align: middle;
    font-size: 80%;
    margin: 6px 0;
}

.blingalytics_table .asset_group ul {
    margin: 0;
}

.blingalytics_table .asset_group small {
    font-size: 80%;
}

table.game_table {
    clear: both;
    padding: 12px 24px;
    width: 600px;
}
table.game_table tr.playoffs {
    background-color: #f4f4f4;
}
table.game_table th {
    white-space: nowrap;
    text-align: center;
}
table.game_table td {
    white-space: nowrap;
    text-align: right;  /* by default, since these are mostly numbers */
}

.playoff_bracket {
    margin: 30px 0;
    min-width: 720px;  /* to ensure no wrapping */
}

.playoff_bracket .round {
    display: inline-block;
    padding: 0 12px;
    vertical-align: top;
    min-width: 200px;
}

.playoff_bracket .round .title {
    text-align: center;
}

.playoff_bracket .round .game {
    margin: 12px 0;
    min-width: 180px;
}

.playoff_bracket .round:last-of-type .game {
    margin-top: 56px;  /* blingabowl centering */
}

.playoff_bracket .round .game .team {
    border-bottom: 1px solid #41b6e6;
    border-right: 1px solid #41b6e6;
    padding: 12px 6px 0 0;
    min-height: 40px;
}

.playoff_bracket .round .game .team:first-of-type {
    border-right: none;
}

.playoff_bracket .round .game .team .score {
    float: right;
    margin-left: 12px;
}

.playoff_bracket .round .game .winner {
    font-weight: bold;
}

.toggle_button {
    font-size: 60%;
    color: #3344dd;
    border: none;
    background-color: transparent;
}

.toggle_button:focus {
    border-width: 1px;
    border-style: solid;
    border-color: #a0a0a0;
    border-radius: 4px;
    outline: none;
}

table.blingalytics_table.sortable tbody {
    counter-reset: blingalytics_tabletablescope;
}

table.blingalytics_table.sortable thead tr::before {
    content: "";
    display: table-cell;
}

table.blingalytics_table.sortable tbody tr::before {
    content: counter(blingalytics_tabletablescope);
    counter-increment: blingalytics_tabletablescope;
    display: table-cell;
    text-align: right;
    padding: 0 6px;
}

.finder_results table.blingalytics_table.sortable tbody tr::before {
    border-right: 1px solid #a0a0a0;
}

#top_seasons a {
    white-space: nowrap;
}

#top_seasons .table_links {
    column-count: 4;
}

#top_seasons .table_links ul {
    margin-left: 4px;
    text-indent: -4px;
}

#top_seasons .table_links ul li {
    line-height: 1;
    margin-bottom: 8px;
}

#top_seasons .table_links a {
    white-space: normal;
    line-height: 1;
}

#top_seasons table.blingalytics_table {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    padding-top: 60px;  /* account for fixed navbar */
}

#top_seasons table.blingalytics_table th {
    width: 20em;
    white-space: normal;
}

#top_seasons table.blingalytics_table td {
    width: 50px;
}

#top_seasons .emphasize small {
    font-style: normal;
}

.blingalytics th,
.blingalytics td,
.blingalytics thead tr::before,
.blingalytics tbody tr::before,
.blingalytics a {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    white-space: nowrap;
}

.blingalytics th {
    text-align: center;
}

.blingalytics td {
    text-align: right;
}

form.blingalytics_form {
    font-size: 75%;
    max-width: 600px;
}

form input[type=submit] {
    clear: both;
}

form input[type=checkbox],
form input[type=radio] {
    vertical-align: top;
    margin-top: 2px;
}

form input[type=text],
form input[type=number] {
    border: 1px solid #ababab;
}

form label {
    width: 200px;
}

form ul li {
    display: block;
    clear: both;
}

form ul li ul li {
    width: 150px;
    float: left;
    clear: none;
}

form ul li ul li label {
    font-weight: normal;
}

form .errorlist li {
    font-style: italic;
    font-weight: bold;
    color: #e4002b;
    font-size: 100%;
    width: 100%;
    margin-bottom: 12px;
}

.blingalytics button,
.blingalytics input[type=submit] {
    color: #3344dd;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #a0a0a0;
    border-radius: 4px;
    margin: 12px 0;
}

.blingalytics .finder_results {
    width: min-content;
    padding-right: 60px;
}

.blingalytics a.download_link {
    font-family: Nunito, "Segoe UI", Optima, "DejaVu Sans", "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
    float: right;
    font-size: 80%;
 }

.blingalytics .finder_results td {
    border-right: 1px solid #a0a0a0;
}

h3.no_results_message {
    white-space: nowrap;
}

.blingacontent {
    margin-bottom: 12px;
}

.blingacontent_section {
    display: inline-block;
    float: left;
}

#gazette_list,
#gazette_detail {
    max-width: 900px;
}

#gazette_body,
#gazette_footer {
    width: 85%;
    clear: both;
}

#gazette_tags {
    text-align: center;
}

#gazette_tags li {
    font-size: 80%;
    overflow-x: visible;
}

#all_gazettes #gazette_list {
    width: 60%;
}

#all_gazettes #gazette_tags {
    width: 35%;
}

#single_gazette #gazette_detail {
}

#single_gazette #gazette_tags {
    width: 15%;
}

#gazette_detail p,
#gazette_detail li {
    font-weight: normal;
}

#gazette_detail ul,
#gazette_detail ol {
    margin-bottom: 16px;
}

#gazette_detail h1,
#gazette_detail h2,
#gazette_detail h3 {
    font-weight: bold;
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
}

#gazette_detail h1 {
    font-size: 160%;
    margin-top: 24px
}

#gazette_detail h1:first-of-type {
    margin-top: 0;
}

#gazette_detail h2,
#gazette_detail h3 {
}

#gazette_detail p,
#gazette_detail li {
    font-size: 100%;
}

#gazette_detail p {
    clear: both;
}

#gazette_detail a.link {
    font-size: 100%;
}

@media screen and (max-device-width: 992px) {
    body {
        font-size: 32px;
    }

    #main_outer {
        overflow-x: scroll;
        margin-top: 0;
        padding: 0 30px 60px 30px;
    }

    nav.navbar {
        min-height: 100px;
    }

    #nav_shield {
        width: 80px;
        height: 80px;
    }

    .navbar-brand {
        padding: 10px;
    }

    nav.navbar-fixed-top {
        position: relative;
    }

    .navbar-toggle .icon-bar {
        width: 44px;
        height: 4px;
        border-radius: 2px;
        margin: 8px 0;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
        margin-top: 15px;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav ul {
        background-color: #41b6e6;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav li {
        padding: 5px 0;
        clear: both;
    }

    .navbar-nav li a,
    .nav ul.dropdown-menu li a,
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus  {
        font-size: 32px !important;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 1;
    }

    .collapse.in{
        display: block !important;
        max-height: 100% !important;
        height: 100% !important;
    }

    .dropdown-menu {
        position: relative;
        box-shadow: none;
        margin-left: 24px;
    }

    .playoff_bracket .round:last-of-type .game {
        margin-top: 72px;  /* blingabowl centering */
    }

    .playoff_bracket .round .game .team {
        min-height: 60px;
    }

    #gazette_body,
    #gazette_footer {
        width: 100%;
    }

    #single_gazette #gazette_tags {
        clear: both;
        text-align: left;
        width: 100%;
        padding-left: 0;
        margin: 48px 0;
    }

    #single_gazette #gazette_tags strong,
    #single_gazette #gazette_tags li {
        display: inline-block;
        float: left;
        margin-right: 6px;
    }
}

@media screen and (max-width: 1024px) {
    .nav li a, nav li a,
    .nav li a:visited, nav li a:visited,
    .nav li a:focus, nav li a:focus {
        font-size: 12px;
    }

    .navbar-collapse {
        height: 100% !important;
        max-height: 100% !important;
    }

    #home_sidebar {
        width: 900px;
    }

    #home_sidebar #games {
        width: 720px;
    }

    .team_season_spotlight {
        display: block;
        width: 720px;
        border-bottom: 1px solid #41b6e6;
    }

    #top_seasons .table_links {
        column-count: 2;
    }
}

@media screen and (max-width: 750px) {
    .nav li a, nav li a,
    .nav li a:visited, nav li a:visited,
    .nav li a:focus, nav li a:focus {
        padding: 6px 10px;
    }
}
