.blingacontent {
    margin-bottom: 12px;
}

.blingacontent_section {
    display: inline-block;
    float: left;
}

.blingacontent_section .center {
    max-width: 900px;
}

#gazette_list,
#gazette_detail {
    max-width: 900px;
}

#gazette_body,
#gazette_footer {
    width: 85%;
    clear: both;
}

#gazette_tags {
}

#gazette_tags li {
    font-size: 80%;
    overflow-x: visible;
}

#all_gazettes #gazette_list {
    width: 60%;
}

#all_gazettes #gazette_tags {
    width: 35%;
}

#single_gazette #gazette_detail {
}

#single_gazette #gazette_tags {
    width: 15%;
    padding-left: 24px;
}

#gazette_detail p,
#gazette_detail li {
    font-weight: normal;
}

#gazette_detail ul,
#gazette_detail ol {
    margin-bottom: 16px;
}

#gazette_detail h1 {
    margin-top: 24px;
    font-family: Viga, Nunito, "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
    font-size: 180%;
}

#gazette_detail h1:first-of-type {
    margin-top: 0;
}

#gazette_detail h2 {
    font-family: Viga, Nunito, "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
    font-size: 140%;
}

#gazette_detail h3 {
    font-weight: bold;
    font-family: "Anonymous Pro", "Courier New", Courier, monospace;
    font-size: 120%;
}

#gazette_detail p,
#gazette_detail li {
    font-size: 100%;
}

#gazette_detail p {
    clear: both;
}

#gazette_detail a.link {
    font-size: 100%;
}

.gazette_headline {
    font-size: 240%;
    font-family: "New Amsterdam", Nunito, "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
}
